/* Variables */

* {
  --fontRegular: "GilroyRegular", "Helvetica Neue", arial, sans-serif;
  --fontMedium: "GilroyMedium", "Helvetica Neue", arial, sans-serif;
  --colorPrimary: #e2fecd;
  --colorPrimary75: rgba(226, 254, 205, 0.75);
  --colorPrimary50: rgba(226, 254, 205, 0.5);
  --colorPrimary25: rgba(226, 254, 205, 0.25);
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorWhite50: rgba(255, 255, 255, 0.5);
  --colorGreyGradient: linear-gradient(to left, #dceafa, #557171);
}

/* Common Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 320px;
  min-height: 667px;
}

body {
  font-family: var(--fontRegular);
  background: var(--colorGreyGradient);
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
  min-width: 320px;
  min-height: 667px;
}

a,
a:hover,
a:focus,
a:visited {
  color: var(--colorBlack);
  text-decoration: none;
  font-size: 24px;
}

main {
  display: flex;
  position: relative;
  z-index: 2;
}

button,
input {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none;
  outline: none;
  background: transparent;
  box-shadow: 0;
  border-radius: 0;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--colorWhite);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--colorWhite);
}

::placeholder {
  color: var(--colorWhite);
}

.hide {
  /* display: none; */
  transform: translateX(9000px);
}

.show {
  /* display: block; */
  transform: translateX(0);
}

.main-wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.container {
  padding: 0 35px;
  margin: 0 auto;
  width: 100%;
}

.header {
  padding: 30px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 90px;
}

.soon {
  font-size: 18px;
}

.title {
  font: 42px var(--fontMedium);
  line-height: 100%;
  margin-top: 20px;
}

.sub-title {
  font-size: 24px;
}

.link-manifest {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 25px;
  border-bottom: 1px solid;
}

.link-text {
  font: 24px var(--fontMedium);
}

.contact-us {
  position: absolute;
  right: -380px;
  bottom: -300px;
  z-index: 1;
}

.circle-4,
.circle-3,
.circle-2,
.circle-1 {
  border: 1px solid var(--colorPrimary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-4 {
  border-color: var(--colorPrimary25);
  margin: auto;
  width: 999px;
  height: 999px;
}

.circle-3 {
  border-color: var(--colorPrimary50);
  margin: auto;
  width: 795px;
  height: 795px;
}

.circle-2 {
  border-color: var(--colorPrimary75);
  margin: auto;
  width: 577px;
  height: 577px;
}

.circle-1 {
  margin: auto;
  width: 368px;
  height: 368px;
}

.contact-us-button {
  font-family: var(--fontMedium);
  background-color: var(--colorPrimary);
  width: 168px;
  height: 168px;
  border-radius: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.logo-transparent {
  position: absolute;
  bottom: -10px;
  z-index: 0;
}

.logo-transparent img {
  height: 131px;
}

/* Form Block */
.form-block {
  width: 100%;
  height: 100%;
  background-color: var(--colorBlack);
  z-index: 4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition: transform .5s;
}

.close {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

.close-line {
  display: block;
  width: 38px;
  height: 1px;
  background-color: var(--colorWhite);
  margin: 0 15px 0 20px;
}

.close-text {
  color: var(--colorWhite);
  font-size: 18px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 60px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-button-text {
  color: var(--colorWhite);
}

.input,
.form-button {
  padding: 20px 0;
  color: var(--colorWhite);
  border-bottom: 1px solid var(--colorWhite);
}

.form-button {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control.success input {
  border-color: limegreen;
}

.form-control small {
  visibility: hidden;
}

.form-control.success small {
  color: limegreen;
}

.form-control.error input {
  border-color: orangered;
}

.form-control.error small {
  color: orangered;
  visibility: visible;
}

.agree {
  font-size: 14px;
  padding: 0 60px;
  color: var(--colorWhite50);
  position: absolute;
  bottom: 100px;
}

/* Media Queries */

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 735px;
    padding: 0 45px;
  }
  .logo img {
    width: 138px;
    height: 32px;
  }
  .soon {
    font-size: 26px;
  }
  .title {
    font-size: 63px;
    max-width: 538px;
  }
  .sub-title {
    font-size: 48px;
    max-width: 636px;
  }
  .link-manifest {
    max-width: 312px;
  }
  .contact-us {
    right: -330px;
    bottom: -220px;
  }
  .logo-transparent {
    left: -5px;
    bottom: -25px;
  }
  .logo-transparent img {
    height: 350px;
  }
  .form-block {
    width: 50%;
  }
  .agree {
    bottom: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-height: 768px) {
  .contact-us {
    bottom: -300px;
  }
}

@media screen and (min-width: 1274px) {
  .container {
    max-width: 1055px;
    padding: 0 112px;
  }
  .title {
    max-width: 855px;
  }
  .contact-us {
    right: -207px;
  }
  .form-block {
    width: 30%;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1194px;
    padding: 0 122px;
  }
  .contact-us {
    right: -197px;
    bottom: -150px;
  }
}

@media screen and (max-height: 844px) {
  .contact-us {
    bottom: -350px;
  }
}
